body {
    margin: 0; 
    font-family: "Roboto";
}
.container {
    display: flex; 
    flex-direction: column;
    margin: 0px 0px; 
    
    padding: 140;

}




.main-page-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px; 
    width: 500px; 
    color: white; 
    flex: 0 0 auto; 
}
.main-page-info1 {
    display: flex; 
    width: 400px; 
    height: 200px; 
    align-self: baseline;
    justify-content: center;
    background-color: gray;
    
}
.section-1 {

    


}
.section-1-container {
    display: flex; 
    background-color: #1F2937 ;
    justify-content: center;
}
.header-info {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 120px;

}

.section-1-info {
    display: flex; 
    justify-content: space-between;
    font-size: 28px;
    gap: 60px; 
    margin-bottom: 120px; ;
    flex-wrap: nowrap;


}

.section-1-text {
    font-size: 18px; 
    margin: 0; 
    color: lightgrey;
}

.header-links {
    align-self: center;
    font-size: 16px;
    display: flex;
    gap: 16px; 

}

button {
    width: 150px; 
    background-color: #3882F6;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: white; 
    font-family: Roboto;
    height: 40px;

}

.section-1-button {
    border: none; 
}
.section-4-button {
    border-color: white; 
    
}
.dino-arrow-gif {
    width: 150px; 
    height: 150px;

}

.dino-image {

    width: 400px;
}

h1.heading {
    margin: 0; 
    padding: 0;

}
.header-text {
    color: white; 
    font-size: 24px; 
}
.section-2 {
    display: flex; 
    background-color: white;
    height: 400px; 
    flex-direction: column;
    text-align: center;
    justify-content: center; 
    gap: 40px; 



}
.section-2.h1
{
    align-self: center;
    min-width: 950px;
}
.section-3 {
    display: flex; 
    background-color: lightgray ;
    height: 300px; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

.abilities {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 160px; 
    flex: 0 0 auto; 

}
.ability-row {
    display: flex; 
    justify-content: center;
    gap: 16px;
    
}

.abilites-header {
    margin-top: 0;
    display: flex; 
    justify-content: center;
}
.item-description {
    color: #1F2937; 
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    min-width: 600px;
    width: 700px; 
    display: flex; 
    margin: 0px; 
    justify-content: center;
    
}

.quote-person {
    font-weight: 900;
    font-size: 24px;
    text-align: end;
    margin: 0;
    min-width: 600px;
    width: 700px; 
    display: flex; 
    justify-content: flex-end;
}

.section-4 {
    background-color: #3882F6;
    display: flex; 
    margin: 50px;
    height: 150px; 
    border-radius: 12px;
    min-width: 800px;
    color: white;
    justify-content: center;
    align-items: center;
    
}

.section-4.container {
    display: flex; 
    justify-content: center;
    flex: 1; 

    
}
h3 {
    margin: 20px 0px 0px; 
}

.sign-up-text {
    margin: 5px 20px 20px 0px; 
    font-size: 10px;
}

.icon {

    border-radius: 12px;
    border-color: #3882F6 ;
   
}